.frontpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;

}

.frontpage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}